<!--Thông tin nhân viên Start-->
<!--Profile Start-->
<div class="employeeprofile">
    <div class="row">
        <!--Nơi để ảnh-->
        <div class="col-lg-3">
            <div class="picture">
                <img width="200" src="/images/employee/{{data.image}}" alt="picture">
            </div>
        </div>
        <!---->

        <!--Nơi chứa thông tin người dùng-->
        <div class="col-lg-9">
            <div class="profile">
                <div class="row">
                    <div class="col-lg-4">
                        <h5>Tên nhân viên: </h5>
                    </div>
                    <div class="col-lg-8">
                        <h5>{{data.name}}</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <h5>Chức vụ: </h5>
                    </div>
                    <div class="col-lg-8">
                        <h5>{{data.position}}</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <h5>Số điện thoại: </h5>
                    </div>
                    <div class="col-lg-8">
                        <h5>{{data.phoneNumber}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h5>Nơi công tác : </h5>
                    </div>
                    <div class="col-lg-8">
                        <h5>{{data.workplace}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- -->
    </div>
</div>
<!--Profile End-->
<!--Thông tin nhân viên End-->